<div class="container">
  <h1>Generate a Secure Password</h1>
  <div class="password">
    <input id="password" [(ngModel)]="password" readonly>
    <button (click)="copyPass()" [disabled]="!password">{{ buttonText }}</button>
  </div>
  <div class="settings">
    <p>Length</p>
    <input type="range" min="6" max="12" [(ngModel)]="length">
    <p id="length-num">{{ length }}</p>
  </div>
  <div class="align-settings">
    <div class="settings">
      <input type="checkbox" checked disabled>
      <p>Numbers (always enabled)</p>
    </div>
    <div class="settings">
      <input type="checkbox" [(ngModel)]="lowercase">
      <p>Lowercase</p>
    </div>
    <div class="settings">
      <input type="checkbox" [(ngModel)]="uppercase">
      <p>Uppercase</p>
    </div>
    <div class="settings">
      <input type="checkbox" [(ngModel)]="special">
      <p>Special characters</p>
    </div>
  </div>
  <button (click)="doGeneratePassword()">Generate</button>
</div>
